<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<title>Login Page</title>
</head>
<body>
<!--This CustomLayout uses inline styles.-->
<div style="width: 1120px ; height: 700px;">
<table align="center" cellspacing="10"
	style="width: 100%; height: 100%; color: #fff; padding: 20px;
	background: green repeat-x">
	<tr>
		<td colspan="2">
		<h1 style="margin-top: 0; color: white;"align="center">Register</h1>
		<td>
	</tr>
	<tr>
		<td align="right">User Name: </td>
		<td>
		<div location="username"></div>
		</td>
	</tr>
	<tr>
		<td align="right">First Name: </td>
		<td>
		<div location="firstname"></div>
		</td>
	</tr>
	<tr>
		<td align="right">Last Name: </td>
		<td>
		<div location="lastname"></div>
		</td>
	</tr>
	<tr>
		<td align="right">Phone Number:</td>
		<td>
		<div location="phonenumber"></div>
		</td>
	</tr>
	<tr>
		<td align="right">Password: </td>
		<td>
		<div location="password"></div>
		</td>
	</tr>

	<tr>
		<td> </td>
		<td align="right">
		<div location="ok" style="padding: 5px;"></div>
		</td>
	</tr>
	<tr>
		
	</tr>
</table>
</div>
</body>
</html>